p {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0px 48px 83px;
}