.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #E28625;
  width: 307px;
  height: 500px;
  border-radius: 8px 0px 0px 8px;
}

.card-suvs {
  background-color: #006971;
  width: 307px;
  height: 500px;
}

.card-luxury {
  background-color: #004140;
  width: 307px;
  height: 500px;
  border-radius: 0px 8px 8px 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
